@{
    ViewData["Title"] = "BookBuddy";
    ViewData["Message"] = "Made by: Lasse Tvedegaard Nyboe";
}

<head>
</head>
<section class="px-5 py-6 py-xxl-10 hcf-bp-center hcf-bs-cover hcf-overlay " style="background-image: url('../../images/baggrund3.png');">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
                <h1 class="display-3 fw-bold mb-3">Log din læsning</h1>
                <p class="lead mb-5">Opdater en fortegnelse over de bøger, du har læst, dem der står på din læseliste, og den aktuelle side, du er nået til i den bog, du er i gang med at læse.</p>

                <div class="container mt-2 bg-light py-4 bg-opacity-75 rounded-3 ">
                    <div class="container py-4 text-white">
                        <h4>De bedste citater</h4>
                        <div class="row justify-content-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero -->
